header {
	padding: 0.5em;
	background-color: black;
}

nav {
	margin-bottom: 2em;
}

nav a {
	padding: 0.2em 1.5em ;
	text-decoration: none;
}

.header-title a {
	font-size:4.5em;
	font-family: 'Monoton', cursive;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	margin-left: 0em;
	padding-right: 0em;
	display: inline-block;
}


.header a {
	color: rgb(31, 167, 177);
}

.header a:hover {
	color: purple;
}

.header a.active {
	font-weight: bold;
}

.nav-link a {
	font-size: 1.5em;
}

.header img {
	width: 11em;
	height: 11em;
	object-fit: cover;
	padding-top: 4em;
	padding-left: 1em;
}

.header-title {
	display: flex;
	justify-content: center;
}