@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* :not(.header):not(h1):not(a) {
	font-family: 'Roboto', sans-serif;
}

main {
	flex: 1 1 auto;
	background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
}

button {
	font-size: 1.2em;
	border-radius: 1em;
	padding: 0.5em 1em;
	outline: none;
	border: 1px solid rgb(31, 167, 177);
    background-color: rgb(31, 167, 177);
    color: white;
}

button:hover {
	cursor: pointer;
	border: 1px solid black;
	background-color: black;
	color: rgb(31, 167, 177);
}